Source: wlanpi-hwtest
Section: contrib/python
Priority: optional
Maintainer: Josh Schmelzle <josh@joshschmelzle.com>
Build-Depends: debhelper (>= 11),
               dh-python,
               dh-virtualenv (>= 1.1),
               libopenjp2-7-dev,
               libfreetype6-dev,
               libfribidi-dev,
               libharfbuzz-dev,
               liblcms2-dev,
               libtiff5-dev,
               libwebp-dev,
               libxcb1-dev,
               python3,
               python3-dev, 
               python3-setuptools,
               python3-distutils,
               python3-venv,
               python3-tk,
               tar,
               tcl8.6-dev,
               tk8.6-dev,
               zlib1g-dev,
Standards-Version: 4.6.0
X-Python3-Version: >= 3.7
Homepage: https://github.com/WLAN-Pi/wlanpi-hwtest

Package: wlanpi-hwtest
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3 (>=3.7), python3-distutils, ${misc:Pre-Depends}
Depends: ${misc:Depends},
         bluez-tools,
         figlet,
         lm-sensors,
         raspi-config,
         raspi-gpio,
         util-linux
Description: Platform testing tools
 wlanpi-hwtest provides a suite of tests to verify functionality on the WLAN Pi Pro hardware.