[Unit]
Description=Platform testing suite for the WLAN Pi Pro
After=multi-user.target basic.target

[Service]
Type=idle
ExecStart=/usr/sbin/hwtest
ExecStartPre=sleep 5

[Install]
WantedBy=multi-user.target
